.form{
    margin: 0 auto;
    position: relative;
}

.form__label{
    text-indent: -9999px;
    font-size: 0;
}

.form__input{
    width: 15rem;
    height: 1.1rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 0px transparent;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
}

.form__error{
    margin: 0.5rem auto;
    color: white;
}

.form__input::placeholder{
    color:$DARK-Gray;
    font-size: 0.8rem;
}

.form__button{
    position: absolute;
    height: 100%;
    width: 2rem;
    background-color: $Very-Dark-Gray;
    background-image: url(/assets/images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
    border: 0px transparent;
    cursor: pointer;
    right: 0;
}

@media (min-width: 634px){
    .form__input{
        width: 35rem;
        height: 1.4rem;
    }
    .form__input::placeholder{
        font-size: 1rem;
    }
}

@media (min-width: 438px) and (max-width: 634px){
    .form__input{
        width: 23rem;
        
    }
    .form__input::placeholder{
        font-size: 0.8rem;
    }
}