.main__informations{
    position: absolute;
    width: 75%;
    height: 4rem;
    display: flex;
    background-color: white;
    z-index: 2;
    padding: 1rem 0.5rem;
    top: -3rem; /*2rem from height/2 + 1 rem from padding*/
    border-radius: 0.5rem;
    box-shadow: 10px 5px 50px $Very-Dark-Gray;
}


.information__block-content{
    width: 25%;
    border-right: 1px solid $DARK-Gray;
    margin: 0 0.4rem;
}
.information__block-content:nth-child(4n){
    border:0;
}

.block-content__title{
    color: $DARK-Gray;
    font-weight: 700;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.block-content__content{
    font-weight: 500;
    color: $Very-Dark-Gray;
    font-size: 1.2rem;
}